<mat-card class='w-100 mx-auto mat-elevation-z4'>
  <mat-card-title>Add tip</mat-card-title>

  <mat-card-content>
    <form
      #todoItemForm='ngForm'
      (ngSubmit)='saveItem()'
      class='d-flex flex-column justify-content-center w-100 mx-auto'
    >
      <mat-form-field appearance='outline'>
        <mat-label>Todo item title</mat-label>
        <mat-icon matPrefix>title</mat-icon>
        <input
          #titleInput
          #titleInputModel='ngModel'
          [(ngModel)]='model.title'
          matInput
          maxlength='50'
          name='title'
          required
          type='text'
        >
        <mat-hint align='end'>{{titleInput.value?.length || 0}}/{{titleInput.maxLength}}</mat-hint>
        <mat-error *ngIf='titleInputModel.invalid && titleInputModel.pristine'>
          Title is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance='outline'>
        <mat-label>Description</mat-label>
        <mat-icon matPrefix>description</mat-icon>
        <textarea #descriptionInput [(ngModel)]='model.description' cdkTextareaAutosize matInput maxlength='150'
                  name='description'></textarea>
        <mat-hint align='end'>{{descriptionInput.value?.length || 0}}/{{descriptionInput.maxLength}}</mat-hint>
      </mat-form-field>

      <mat-accordion>
        <mat-expansion-panel class='mat-elevation-z0'>
          <mat-expansion-panel-header class='ps-1'>
            <mat-panel-title>
              Sub tasks
            </mat-panel-title>
          </mat-expansion-panel-header>

          <div *ngIf='model.subTasks.length>0; else noSubTask'>
            <button (click)='removeAllSubtask()' color='primary' mat-button>
              Remove all
            </button>
            <mat-list dense role='list'>
              <mat-list-item *ngFor='let item of model.subTasks' role='listitem'>
                <mat-icon
                  (click)='removeSubtask(item.id)'
                  class='cursor-pointer' mat-list-icon
                  matTooltip='Remove item'>
                  remove_circle_outline
                </mat-icon>
                <div class='ms-2'>{{item.title}}</div>
              </mat-list-item>
            </mat-list>
          </div>

          <ng-template #noSubTask>
            <p class='text-muted'>
              No subtask added.
            </p>
          </ng-template>

          <mat-action-row>
            <form #subTaskForm='ngForm' (ngSubmit)='addSubTask();subTaskForm.resetForm()' class='w-100'>
              <mat-form-field appearance='outline' class='w-75'>
                <mat-label>Todo item title</mat-label>
                <mat-icon matPrefix>title</mat-icon>
                <input
                  #subTaskInput #subTaskInputModel='ngModel'
                  [(ngModel)]='newSubTask.title'
                  matInput
                  maxlength='50'
                  name='subTaskTitle'
                  required
                  type='text'
                >
                <mat-hint align='end'>{{subTaskInput.value?.length || 0}}/{{subTaskInput.maxLength}}</mat-hint>
                <mat-error *ngIf='subTaskInputModel.invalid && subTaskInputModel.pristine'>
                  Title is required.
                </mat-error>
              </mat-form-field>

              <button [disabled]='subTaskInputModel.invalid' class='ms-2' color='primary' mat-button>
                Add new item
              </button>
            </form>
          </mat-action-row>
        </mat-expansion-panel>
      </mat-accordion>
    </form>
  </mat-card-content>

  <mat-card-actions align='start' class='px-2'>
    <button [disabled]='todoItemForm.invalid' (click)='saveItem()' color='accent' mat-flat-button>Save</button>
  </mat-card-actions>
</mat-card>
