<mat-card class='mx-auto w-100 mat-elevation-z8'>
  <div class='content'>
    <mat-card-title>{{item.title}}</mat-card-title>
    <mat-card-subtitle>Deadline: {{item.deadline?.toLocaleDateString('en-US')}}</mat-card-subtitle>
    <mat-card-content>
      <p>{{item.description}}</p>
    </mat-card-content>

    <mat-divider *ngIf='item.subTasks.length>0' inset></mat-divider>

    <div *ngIf='item.subTasks.length>0' class='mt-3'>
      <span class='subtasks'>
      <mat-checkbox class='example-margin'
                    [checked]='allComplete'
                    color='accent'
                    [indeterminate]='someComplete()'
                    (change)='setAll($event.checked)'>
        Sub tasks
      </mat-checkbox>
    </span>
      <span class='subtasks'>
      <ul>
        <li *ngFor='let subtask of item.subTasks'>
          <mat-checkbox [(ngModel)]='subtask.done'
                        color='accent'
                        (ngModelChange)='updateAllComplete()'
                        [class.text-decoration-line-through]='subtask.done'
          >
            {{subtask.title}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
    </div>

    <mat-divider inset></mat-divider>

    <mat-card-actions align='start' class='mb-0'>
      <button
        mat-flat-button
        color='accent'
        (click)='switchDoneState()'
      >
        {{item.done ? 'Mark as not done' : 'Mark as done'}}
      </button>
      <button
        mat-button
        color='accent'
        (click)='router.navigate(["add",item.id])'
      >
        Edit
      </button>
      <button
        mat-button
        color='accent'
        (click)='deleteItem()'
      >
        Delete
      </button>
    </mat-card-actions>
  </div>
</mat-card>
